body{
    /* background: linear-gradient(to top, #9335e5, #87a8e6); */
    background-image: url(./image.png);
    background-size: cover;
    background-position: center;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.icon{
    width: 100%;
    max-width: 100%;
}

.board{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.left{
    width: 6%;
    margin: 50px 0 0 50px;
    height: 90vh;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.main{
    margin-top: 30px;
}

.city{
    height: 170px;
}

#weekForecastId img{
    margin-top: -20px;
    margin-left: -20px;
}

#iconid img{
    margin-top: -30px;
    width: 200px;
    max-width: 100%;
}

.forecast{
    border-radius: 20px;
    height: 200px;
    display: flex;
    gap: 0px;
}

.forecastseven{
    display: flex;
    gap: 30px;
}

.left i{
    font-size: 25px;
}

.middle{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right{
    border-radius: 20px;
    margin-top: 30px;
}

.weather{
    height: 200px;
    display: flex;
}

#today{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px){
    body{
        font-size: 20px;
    }
    .board{
        flex-direction: column;
        align-items: center;
    }

    .left{
        width: 12%;
        margin-left: 20px;
        height: auto;
        padding: 10px;
        gap: 20px;
    }

    .left i{
        font-size: 20px;
    }

    .forecast{
        height: auto;
    }

    .mode{
        margin-top: -20px;
    }

    .forecast{
        display: flex;
    }
   
      
}

@media (max-width: 768px){
    body{
        font-size: 16px;
    }
    .board{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .weather{
        display: flex;
        justify-content: space-between;
    }

    #currentDelId{
        width: 60%;
    }

    .left{
        width: 100%;
        margin-left: 0;
        height: auto;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }

    .left i{
        font-size: 20px;
    }

    .middle, .right{
        width: 90%;
    }

    .forecast{
        height: auto;
        width: 100%;
    }

    #iconId img{
        width: 150px;
        max-width: 200px; /* Ensures it doesn't get too large */
    height: auto;
    }
}

@media (max-width: 480px){
    .left{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        gap: 20px;
    }

    .left i{
        font-size: 18px;
    }

    #currentDelId{
        width: 60%;
    }

    .middle, .right{
        width: 100%;
    }

    #iconId img{
        width: 100px;
    }

    .weather{
        display: flex;
        flex-direction: row;
        /* background-color: aqua; */
        justify-content: space-between;
        height: 200px;
    }
}
.custom-bg {
    background-color: #482d85; /* Custom blue shade */
  }

.custom1-bg {
    background-image: url(./image\ copy\ 2.png);
    background-color: #3a9ddb;
}
.custom2-bg {
    background-color: rgb(21, 143, 243);
}
.custom7-bg{
    background-image: url(./image\ copy.png);
    background-size: cover;
    background-position: center;
}